
<h2><%= @pack.name %></h2>
<p>Genre: <%= @pack.genre %></p>
<p>Description: <%= @pack.description %></p>
<p>Price: <%= @pack.price %>€</p>

<h2>Reviews</h2>

<ul>
  <% @reviews.each do |review| %>
    <li><%= review.content %> - <%= review.rating %></li>
  <% end %>
</ul>
